

.box_pro_noi_that {
    float: left;
    width: 100%;
    
}
@media(min-width:62em){

    .overlay-civicnoi{
        text-align: left;
        margin-left: 20px;
        font-weight: 600;
        line-height: 1.5 ;
        font-size: 30px;
         padding-top: 22rem;
    }
        h1 {
        font-size :90 px;
        }
        h3{
            font-size :70 px;  
        }
    
}
