.specification{
  text-align: left;
  
  & h5{
    margin-left: 20px;
  }
}
.my-custom-scrollbar {
  position: relative;
  height: 500px;
  overflow: auto;
  text-align: center;
}
@media (min-width: 62em){
.consumption{
  text-align: left;
  margin-left: 20px;
  & p{
    margin-left: 30px;
  }
}

.my-custom-scrollbar {
  position: relative;
  width: 900px;
  margin: 10px 180px 100px;
  height: 500px;
  overflow: auto;
  text-align: center;
}
}