

.box_pro_noi_that {
    float: left;
    width: 100%;
    
}
@media(min-width:62em){

    .overlay-civicrnoi{
        text-align: left;
        margin-left: 35rem;
        font-weight: 600;
        line-height: 1.5 ;
        font-size: 30px;
         padding-top: 10.5rem;
    }
        h1 { color: red;
            padding-top: 40px;
        font-size :90 px;
        }
       
    
}
